@import './base.css';
@import "tailwindcss";

/* force light mode even if OS prefers dark */
:root { color-scheme: light; }

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
  }
}